page-home {
    .scroll-content {
        background-color: #19212b;
        padding-bottom: 80px;
    }

    .toolbar-background {
        background-color: #19212b;
    }

    .toolbar {
        button {
            color: rgba(white, 0.8);
            font-size: 16px;
            letter-spacing: 0.5px;

            span {
                padding-right: 10px;
            }
        }
    }

    .toolbar-title {
        font-size: 20px;
        color: grey;
    }

    .today {
        color: dimgrey;
        font-size: 16px;
        margin: 0px auto;
        padding: 20px;
        width: 100%;
        position: fixed;
        left: 0%;
        bottom: 0;
        background-color: #19212b;
        z-index: 5;
        box-shadow: 0px 0px 20px -5px black;
    }

    .list {
        .item {
            background-color: transparent;
            border-bottom: 1px solid #1f2833;
            color: rgba(white, 0.6);

            h2 {
                white-space: normal;
                font-weight: 300;
            }

            .item-inner {
                border-bottom: 0;
            }
        }
    }

    .fab {
        background-color: #c55b5b;
    }

    .fab-md-in-list {
        color: #f7f7f7;
        background-color: #313f50;
    }

    .clear-button {
        margin: 0 auto;
        display: block;
        width: 50%;
        font-weight: bold;
    }
}
